.st1{
    font-family: 'Times New Roman', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.st2 {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.st3 {
    font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
}
.st4 {
    font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
}
.st5 {
    font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
}
.st6 {
    font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
}
.st7 {
    font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
}
.st8 {
    font-family: 'Film P3', sans-serif;
        font-weight: 700;
        font-size: 14px;
}
